{% load bootstrap5 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# {% bootstrap_messages %} #}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <style>
        .footer {
            max-height: 150px;
        }
    </style>
    <div class="card text-center bg-dark">

        <nav class="navbar navbar-expand-lg navbar-dark bg-darker sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'memeplz:home' %}">Meme Plz!</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'memeplz:home' %}">Strona główna</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'memeplz:waiting' %}">Poczekalnia</a>
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:my_profile' %}">Profil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'memeplz:create_post' %}">Dodaj mema</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Wyloguj się</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Zaloguj się</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Zarejestruj się</a>
                  </li>
                  {% endif %}
                </ul>
                    <input type="text" name="daterange" value="01/01/2023 - 01/02/2023" />
              </div>
            </div>
          </nav>

        <div class="card-body" style="background-color: rgba(240, 248, 255, 0);  background-image: url('{% static "bg/tlo.png" %}'); background-attachment: fixed;">
            {% block body %}
            {% endblock body %}
        </div>
    </div>

    <footer class="bg-dark text-center text-light">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright: Sebastian Sieradzki
        </div>
        <!-- Copyright -->
      </footer>
    
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script>
      $(function() {
          $('input[name="daterange"]').daterangepicker({
              opens: 'left'
          }, function(start, end, label) {
              console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
          }).on('apply.daterangepicker', function() {
              var dateRange = $('input[name="daterange"]').val().split(' - ');
              var start_date = moment(dateRange[0], 'MM/DD/YYYY').format('YYYY-MM-DD');
              var end_date = moment(dateRange[1], 'MM/DD/YYYY').format('YYYY-MM-DD');
      
              // Sprawdź, czy daty są ważne
              if (!moment(start_date, 'YYYY-MM-DD').isValid() || !moment(end_date, 'YYYY-MM-DD').isValid()) {
                  console.log("Nieprawidłowa data!");
                  return;
              }
      
              var redirect_url = '/filtering-main-site/1?start_date=' + start_date + '&end_date=' + end_date;
              window.location.href = redirect_url;
          });
      });   
      </script>
    <!-- <script>
      $(function() {
          $('input[name="daterange"]').daterangepicker({
              opens: 'left'
          }, function(start, end, label) {
              console.log("A new date selection was made: " + start.format('DD-MM-YYYY') + ' to ' + end.format('DD-MM-YYYY'));
          }).on('apply.daterangepicker', function() {
              var dateRange = $('input[name="daterange"]').val().split(' - ');
              var start_date = formatDate(dateRange[0]);
              var end_date = formatDate(dateRange[1]);
              var redirect_url = '/filtering-main-site/1/?start_date=' + start_date + '&end_date=' + end_date;
              window.location.href = redirect_url;
          });
      
          function formatDate(dateString) {
              var dateParts = dateString.split('-');
              return dateParts[2] + '-' + dateParts[1] + '-' + dateParts[0];
          }
      });   
      </script> -->
    {% block scripts %}
    {% endblock %}
</body>
</html>